@tailwind base;
@tailwind components;
@tailwind utilities;


* {
font-family: Georgia, 'Times New Roman', Times, serif;
}

.rotate {
    animation: rotateAnimation 1s linear infinite; /* Adjust duration and other properties as needed */
  }
  

@keyframes rotateAnimation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .fadeInAnimation{
    animation: fadeIn 0.8s linear;
}

@keyframes fadeIn {
    from{
        scale: 0.8;
    }
    to{
        scale: 1;
    }
}

@keyframes zoomIn {
  from {
    
    transform: scale(0.8);
  }
  to {
    transform: scale(1); 
  }
}


.zoomIn {
  animation: zoomIn 0.8s ease-in-out; 
}

