@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: var(--font-poppins);
  font-size:15px;
}

.rotate {
  animation: rotateAnimation 1s linear infinite;
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fadeInAnimation {
  animation: fadeIn 0.8s linear;
}

@keyframes fadeIn {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}

.zoomIn {
  animation: zoomIn 0.8s ease-in-out;
}

.gridSizing {
  grid-template-columns: 2fr 1fr 1fr 1fr; /* Fix the syntax error here */
}
